<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h2>Currently logged in users</h2>
    <div class="card table-responsive-sm">
        <table class="table table-sm">
            <tr class="table-info">
                <td>Name</td>
                <th>Batch</th>
                <th>Rank</th>
                <th>Email</th>
            </tr>
            <tbody >
            <tr>
                <td>
                    <p th:text="${student.name}"></p>
                </td>
                <td>
                    <p th:text="${student.batch.name}"></p>
                </td>
                <td>
                    <p th:text="${student.rank.name}"></p>
                </td>
                <td>
                    <p th:text="${student.user.email}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card table-responsive-sm">
        <table class="table table-sm">
            <tr class="table-info">
                <td>Name</td>
                <td>Assign to</td>
                <td>Start date</td>
                <td>End date</td>
            </tr>
            <tbody th:each="task:${tasks}">
            <tr>
                <td>
                    <p th:text="${task.name}"></p>
                </td>
                <td>
                    <p th:text="${task.student.name}"></p>
                </td>
                <td>
                    <p th:text="${task.start_date}"></p>
                </td>
                <td>
                    <p th:text="${task.end_date}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card table-responsive-sm">
        <table class="table table-sm">
            <tr class="table-info">
                <td>Name</td>
                <td>Start date</td>
                <td>End date</td>
            </tr>
            <tbody th:each="batch:${batches}">
            <tr>
                <td>
                    <p th:text="${batch.name}"></p>
                </td>
                <td>
                    <p th:text="${batch.start_date}"></p>
                </td>
                <td>
                    <p th:text="${batch.end_date}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card table-responsive-sm">
        <table class="table table-sm">
            <tr class="table-info">
                <td>Name</td>
                <th>Batch</th>
                <th>Rank</th>
                <th>Email</th>
            </tr>
            <tbody th:each="student:${members}">
            <tr>
                <td>
                    <p th:text="${student.name}"></p>
                </td>
                <td>
                    <p th:text="${student.batch.name}"></p>
                </td>
                <td>
                    <p th:text="${student.rank.name}"></p>
                </td>
                <td>
                    <p th:text="${student.user.email}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card table-responsive-sm">
        <table class="table table-sm">
            <tr class="table-info">
                <td>Name</td>
                <th>Code</th>
                <th>Leader</th>
                <th>Coordinator</th>
            </tr>
            <tbody th:each="project:${projects}">
            <tr>
                <td>
                    <p th:text="${project.name}"></p>
                </td>
                <td>
                    <p th:text="${project.code}"></p>
                </td>
                <td>
                    <p th:text="${project.student.name}"></p>
                </td>
                <td>
                    <p th:text="${project.faculty.name}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card table-responsive-sm">
        <table class="table table-sm">
            <tr class="table-info">
                <td>Name</td>
                <th>Code</th>
                <th>Leader</th>
                <th>Coordinator</th>
            </tr>
            <tbody th:each="project:${projects1}">
            <tr>
                <td>
                    <p th:text="${project.name}"></p>
                </td>
                <td>
                    <p th:text="${project.code}"></p>
                </td>
                <td>
                    <p th:text="${project.student.name}"></p>
                </td>
                <td>
                    <p th:text="${project.faculty.name}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>

</html>